<style media="screen">
  body {
    margin: 20px;
  }
  .file-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  span {
    font-weight: bolder;
  }
</style>

<h1>This is the Lesson Title</h1>

<h4>Below is the lesson content...enjoy some hipster ipsum</h4>
<p>
Austin street art before they sold out +1, slow-carb raw denim vegan. Shoreditch paleo roof party, literally gentrify you probably haven't heard of them kale chips squid street art schlitz dreamcatcher plaid cold-pressed next level man braid. Typewriter poutine lumbersexual health goth, seitan swag drinking vinegar polaroid occupy mumblecore authentic YOLO ugh. Next level sustainable blue bottle knausgaard, hammock kitsch quinoa before they sold out bitters mixtape bushwick irony. Tacos bitters bicycle rights, +1 blog chillwave taxidermy put a bird on it freegan pitchfork. Mlkshk banh mi flannel, try-hard forage lomo narwhal locavore taxidermy. Cronut knausgaard 3 wolf moon, aesthetic you probably haven't heard of them tattooed messenger bag wolf green juice hoodie sustainable.
<br>
<br>
Knausgaard bitters echo park asymmetrical, shabby chic marfa pop-up plaid neutra selfies sriracha pour-over. Austin schlitz brooklyn, keytar organic direct trade slow-carb mixtape humblebrag poutine echo park. Tofu iPhone sriracha, mustache forage biodiesel yuccie heirloom vice pabst art party. Four dollar toast microdosing pour-over 90's. Keffiyeh pork belly selvage +1 chicharrones. Art party photo booth gastropub, polaroid ennui banh mi yuccie. Occupy fingerstache kombucha organic, cardigan semiotics keytar mlkshk selvage normcore bushwick meditation mustache marfa.
<br>
<br>
Intelligentsia hashtag jean shorts etsy, shabby chic fixie authentic microdosing flexitarian kickstarter lumbersexual kale chips fanny pack cliche gochujang. Retro wolf bitters, drinking vinegar biodiesel craft beer schlitz kickstarter wayfarers roof party pabst. Kinfolk pickled DIY, butcher pitchfork direct trade umami cronut keytar lomo normcore dreamcatcher franzen kogi. Raw denim literally pinterest thundercats selvage cronut. Retro stumptown put a bird on it, chillwave readymade PBR&B cray photo booth. Actually whatever vinyl fingerstache. Kogi fingerstache knausgaard, beard gochujang PBR&B disrupt yr bespoke.
<br>
</p>

<h4>Then there is the homework</h4>
<p>
  <span>PROS</span>
  <br> 1. You can fill out without leaving the page.
  <br> 2. You can download and it will also be editable, allowing a user to edit and save locally.
  <br> 3. This could be on DrinkLess to create the editable worksheets. We would just need to embed.
</p>

<p>
  <span>CONS</span>
  <br>1. You can not fill out here and then download the "completed" version.
  <br>2. When you refresh the page it's gone and information filled out here does not persist.
</p>
<br>
We could have an optional save to Google drive button but this assume the file is a static asset not hosted else where.
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="g-savetodrive"
   data-src="sample.pdf"
   data-filename="Sample.pdf"
   data-sitename="Drinkless">
</div>

<div class="file-wrapper">
  <iframe src="sample.pdf" noborder="0" width="1400" height="1000"></iframe>
</div>
