<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="g-savetodrive"
   data-src="sample.pdf"
   data-filename="Sample.pdf"
   data-sitename="Drinkless">
</div>
<br>
<br>
<br>
<div class="g-savetodrive"
   data-src="https://docs.google.com/spreadsheets/ccc?key=18m2wAu8_V9B_7KEy3sya_T0j1OU19LOuw0x47DmC2TY&newcopy=true"
   data-filename="Worksheet Name"
   data-sitename="Drinkless">
</div>
